- if Post.any?
  - Post.all.each do |p|
    .panel.panel-default
      .panel-heading
        %p
          %b= p.title
      .panel-body
        = p.body.html_safe
        %hr
        %p= link_to 'Write Comment', p
    %p

- else
  %b You haven't yet written any posts :(
  %p= link_to 'Click here to write one !', new_post_path
