- if Post.any?
  - Post.all.each do |p|
    %p
      %b= p.title
    = p.body.html_safe
    %p= link_to 'View', p

    %hr

- else
  %b You haven't yet written any posts :(
  %p= link_to 'Click here to write one !', new_post_path
